*{
    background-color: #2549D3, #0F298B, #FAFAFA;
    font-size: 30px;
}

.get-started{
    padding-left: 150px;
}
.get-started-btn, .btn-learn-more{
    padding: 20px 35px;
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    border-radius: 15px;
}

.help-wrapper{
    display: flex;
    padding-top: 70px;
}
.help-wrapper img{
    width: 700px;
    padding-left: 150px;
}
.help-text{
    padding-left: 60px;
    padding-right: 50px;
}
.text-clr{
    color: blue;
    font-size: 50px;
}
.learn.more{
    display: flex;
}

.loca-wrapper{
    display: flex;
    margin: 60px 300px 60px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
}

.loca-wrapper h6{
    font-size: 25px;
    color: blue;

}
.loca-wrapper div{
    padding-right: 300px;
    justify-content: center;
    padding: 100px;
    border: 2px;flex-direction: row;
    border-radius: 10%;
}

.our-products h1, .sub.heading h2{ 
    color: blue;
}
.sub.heading{
    text-align: center;
}
.product-images-wrapper{
    display: flex;
}
.product1{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid;
    box-shadow: #FAFAFA;
    border-style: inherit;
    padding-left: 250px;
    padding-right: 250px;
    width: 70vh;
}
.product-image{
    width: 18vh;
    padding-right: 20px;
    margin: 2opx;

}
.quality{
    display: flex;
    align-items: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
}
.quality img{
    width: 600px;
    padding-left: 100px;
    padding-right: 60px;

}
.creating-quality{
    padding-right: 40px;
}
.quality-heading{
    padding-bottom: 20px;
}
.list-main{
    display: flex;
}
.list-main.sub-list{
    padding-left: 60px;
}
.sales-wrapper{
    padding-top: 100px;
}
.property-wrapper{
    display: flex;
}
.single-property{
    background-color: #fff;
    padding-right: 2px;
    margin-left: 80px;
    
}
.single-property img{
    width: 55vh;
    padding: 70px;
}

.btn-view-more{
    float: right;
}
.choose{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: center;
}
.image-2{
 float: left;   
 width: 200px;
 margin-left: 400px;
}
.quality_lyfestiles{
    overflow: visible;
    white-space: nowrap;
}
/* featured_properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} */
.fp .h2{ 
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
} 
#imagpalace{
  width: 50vh;
  float: left;
}
 /* LOGO */
   .logo{
    font-size: 32px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
  float: left
}
/* NAVBAR MENU */
  .menu{
    display: flex;
    gap: 1em;
    font-size: 16px;
   }
   .top_nav a{
    color: rgb(53, 49, 49);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: Space Grotesk;
   }
    .top_nav a{
        font-weight: bolder;
        color: bolder;
        height: 1px;
        align-items: center;
        font-size: 32px;
    }
        h1{
            color: white
        }
.get_started_btn{
  background-color: #0F298B;
  color: #FAFAFA;
  border-radius: 10px;
  padding: 10px 32px;
  text-decoration: none;
  display: flex;
  font-size: 28px;
   }
   div{
    /* overflow: auto; */
    text-align: center;
    line-height: 2;
   }
   .lorem{
    display: inline-flex;
    overflow: hidden;
}
.j{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: center;
    background-color: white;
    padding-left: 300px;
    margin-left: 40px;
}
.z{
    margin: auto;
}
.s{
    display: flex;
    border: solid white;
    background-color: blue;
    color: white
}
.fa-youtube{
    font-size: 30px !important;
    border-radius: 100%;
}
  .view{
margin-top: 0px;
margin-bottom: 200px;
margin-left: 0%;
}
.f{
width: 50ppx;
margin:100px 100px 100px 100px;
text-align: center;
padding: 50px;
margin-left: 40px;
color: #FAFAFA;
}
/* .row1{
            display: grid;
            display: grid;
            grid: auto auto / auto auto auto auto;
            grid-gap: 10px;
            padding: 10px;
}
.column1{
    text-align: justify;
} */

