.logo h1{
    font-family: 'Oleo Script', cursive;
    color: blue;
}
.navbar-wrapper{
    display: flex;
    align-items: space-between;
    padding-top: 20px;
    border-bottom: 1px solid gray;
}

.menu ul{ 
    display: flex;
    list-style: none;
    padding-left: 150px;
}

.menu ul li{
    padding-right: 60px;
}

.menu ul li a{
    text-decoration: none;
}
get-started{
    padding-left: 150px;
}
.get-started-btn, .btn-learn-more{
    padding: 20px 35px;
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    border-radius: 15px;
}

.hero-wrapper{
    display: flex;
    padding-top: 70px;
}
.hero-wrapper img{
    width: 700px;
    padding-left: 150px;
}