*{
    background-color: #2549D3, #0F298B, #FAFAFA;
    font-size: 30px;
}
.logo h1{
    font-family: 'Oleo Script', cursive;
    color: blue;
}
.nav.bar.wrapper{
    display: flex;
    align-items: space-between;
    padding-top: 20px;
    border-bottom: 1px solid gray;
    text-indent: 50px;
}

.menu ul{ 
    display: flex;
    list-style: none;
    padding-left: 150px;
}

.menu ul li{
    padding-right: 60px;
}

.menu ul li a{
    text-decoration: none;
}
get-started{
    padding-left: 150px;
}
.get-started-btn, .btn-learn-more{
    padding: 20px 35px;
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    border-radius: 15px;
}

.help-wrapper{
    display: flex;
    padding-top: 70px;
}
.help-wrapper img{
    width: 700px;
    padding-left: 150px;
}
.help-text{
    padding-left: 60px;
    padding-right: 50px;
}
.text-clr{
    color: blue;
    font-size: 50px;
}
.learn.more{
    display: flex;
}

.loca-wrapper{
    display: flex;
    margin: 60px 300px 60px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
}

.loca-wrapper h6{
    font-size: 25px;
    color: blue;
}
.loca-wrapper div{
    padding-left: 50px;
}

.sour-products h1, .sub.heading h2{ 
    color: blue;
}
.sub.heading{
    text-align: center;
}
.product-images-wrapper{
    display: flex;
    margin-left: 30px;
}
.product1{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.product-image{
    width: 7vh;
    padding-left: 200px;
    padding-right: 200px;
    height: auto;
}
.quality{
    display: flex;
    align-items: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
}
.quality img{
    width: 600px;
    padding-left: 100px;
    padding-right: 60px;

}
.creating-quality{
    padding-right: 40px;
}
.quality-heading{
    padding-bottom: 20px;
}
.list-main{
    display: flex;
}
.list-main.sub-list{
    padding-left: 60px;
}
.sales-wrapper{
    padding-top: 100px;
}
.property-wrapper{
    display: flex;
}
.single-property{
    background-color: #fff;
    padding-right: 2px;
    margin-left: 80px;
    
}
.single-property img{
    width: 55vh;
    padding: 70px;
}

.btn-view-more{
    float: right;
}
.footer-wrapper{
    background-color: blue;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    color: #fff;
}
.footer-1{
    padding-left: 50px;
}
.footer-1 ul{
    list-style: none;
}
.footer-1 ul li{
    padding-bottom: 14px;
}
.customer-heading{
    text-align: center;
    padding-top: 70px;
}
.customer-heading h1{
    color: blue;
}
.names{
    display: flex;
    padding-left: 150px;
}
.name-1{
    padding-left: 50px;
}
.choose{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: center;
}
.image-2{
 float: left;   
 width: 200px;
 margin-left: 400px;
}
.quality_lyfestiles{
    overflow: visible;
    white-space: nowrap;
}
/* featured_properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} */
.fp .h2{ 
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
} 
#imagpalace{
  width: 50vh;
  float: left;
}